/* navbar */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{

    position: fixed !important; 
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}
.container{
    width:100%;
    margin: 0 auto;
}
.navbar{
    margin: 15px;

}
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 10px;
}
header button{
    background: transparent;
    border: 0px;
    color: black;
}
header nav ul li button{
    font-size: 15px;
    cursor: pointer;
}
h2{
    color: black;
    height: 30px;
    cursor: pointer;
}
li{
    list-style : none;
}
.nav-icon{
    padding-right: 5px;
}
.main-bg{
    background-color: #eee;
    height: 723px;
}
.title{
    text-align: center;
    margin-top: 5%;
}
.img-main1{
    width: 30%;
    border-radius: 70%;
    margin-top: 70px;

}
h4{
    padding: 50px; 
    font-size: 25px; 
    font-weight: 300;
    line-height: 40px;
}

.page-title{
    text-align: center;
    padding: 100px;
    
}
.left{
    width: 30%;
    float: left;
    margin-left: 200px;
}
.left > img{
    border-radius: 20%;
    width: 100%;
}
.right{
    float: left;
    margin-left: 75px;
}
.right > p{
    line-height: 50px;
}